# ==========================================
# Python
# ==========================================

__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# ==========================================
# Virtual Environment
# ==========================================

env/
venv/
.venv/

# ==========================================
# Environment Variables
# ==========================================

.env

# ==========================================
# Jupyter
# ==========================================

.ipynb_checkpoints/

# ==========================================
# Streamlit
# ==========================================

.streamlit/secrets.toml

# ==========================================
# Python Cache
# ==========================================

.pytest_cache/
.mypy_cache/

# ==========================================
# IDE
# ==========================================

.vscode/
.idea/

# ==========================================
# Logs
# ==========================================

*.log

# ==========================================
# Operating System
# ==========================================

.DS_Store
Thumbs.db
desktop.ini

# ==========================================
# Temporary Files
# ==========================================

*.tmp
*.temp